body {
    background-color: #c6d7de;
    font-family: 'Montserrat';
    padding: 3em;
    color: #ffffff;
}

#video {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}


section {
    z-index: 1;
    position: relative;
}

#section-height {
    height: 100vh;
}

#header {
    position: absolute;
    top: 20%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}